.found {

  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  font-size: 15px;
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
}